/*@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

menu li{
    display:inline;

}

menu li::after {
    content : '|';
}

menu li:last-of-type::after{
    content: " ";
}*/